{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Watchlist</h2>
    {% for listing in listings %}
    <div class="card border-info mb-3 " style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="media/{{ listing.url }}" class="img-fluid rounded-start" alt="{{listing.title}}" width="180" height="186">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'listing' listing.id %}">{{listing.title}}</a></h5>
              <p class="card-text">{{listing.description}}</p>
              <p class="card-text"><small class="text-muted">{{listing.price}}</small></p>
              <a href="{% url 'remove_from_watchlist' listing.id %}"><button type="button" class="btn btn-outline-dark btn-sm">Remove</button></a>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <hr>
      <h3>Sorry, you have not watchlisted any item.</h3>
    {% endfor %}
    
{% endblock %}